<% provide(:title, 'Contacts') %>
<html>
<head>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %>
</title>
</head>
<body>
<h1>Testing the page</h1>
<p>
Contact Ruby on Rails Tutorial about the sample app at the  <a href="http://railstutorial.org/contact">contacts</a>
</p>
</body>
</html>
